.wrap {
  margin: 2em 0;
  padding: 0;
}

.wrap label {
  display: block;
  padding : 8px;
  color: #fff;
  font-weight: bold;
  background: #999;
  cursor: pointer;
}

.wrap input[type="checkbox"] {
  display: none;
}

.wrap .content {
  height: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.switch:checked + .content {
  height: auto;
  padding: 8px;
  background: #f7f7f7;
}
