body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: white;
  padding: 0 .5em;
}
.footer {
  background-color: white;
  padding: 0 .5em;
}
.main {
  background-color: #fff8d8;
  padding: 1em;
}
h1 {
  font-size: 150%;
  margin: 0 0;
  padding: .5em 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}

p{
  display:none;
}
input[type="checkbox"]:checked + p{
  display:block;
}

.dropdown{
  display:none;
}

label,
li{
  display:block;
  padding:2em;
  background:gold;
  border-bottom:#fff 1px solid;
  font-family:sans-serif;
  letter-spacing:.05em;
  font-weight:bold;
}
li:hover,
label:hover{
  background:orange;
}
li::before,
label::before{
  content:"";
  display:block;
  position:absolute;
  right:5%;
  width:.5em;
  height:.5em;
  border-top:#000 2px solid;
  border-left:#000 2px solid;
  transform:rotate(135deg);
}
input[type="checkbox"]{
  display:none;
}
label[for="menu"]{
  display:block;
  background:orange;
}
label[for="menu"]::before{
  transform:rotate(225deg);
}
#menu:checked + .dropdown{
  display:block;
}
